<%= form_with(model: form_submission) do |form| %>
  <% if form_submission.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(form_submission.errors.count, "error") %> prohibited this form_submission from being saved:</h2>

      <ul>
        <% form_submission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :song_link, style: "display: block" %>
    <%= form.text_field :song_link %>

    <p style="font-style: italic">Hint: It looks like this</p>
    <%= image_tag("copy_spotify_link.png", style: 'width:50%') %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
